# OANDA API設定
# practice = デモ環境, live = 本番環境
OANDA_ENV=practice

# OANDAのAPIアクセストークン
OANDA_ACCESS_TOKEN=1c0780cade48feb56c093b8599efd38a-dd4c74c5053d2d8a4cd8a91e59216615

# OANDAの口座ID（例: 101-009-12345678-001）
OANDA_ACCOUNT_ID=101-009-38592157-001

# LINE Notify通知設定（任意）
# https://notify-bot.line.me/ でトークンを取得
LINE_NOTIFY_TOKEN=your_line_notify_token_here

# TradingView Webhook設定（任意）
# 任意の文字列を設定（TradingView側のアラートにも同じ値を設定）
WEBHOOK_SECRET=your_webhook_secret_here
